################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WHITEandBLACK/Temp
/.vs/slnx.sqlite-journal

/WHITEandBLACK/.vs/WHITEandBLACK/v15/Server/sqlite3/db.lock
